# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# https://help.github.com/articles/about-codeowners/
#
# Order is important; the last matching pattern takes the most
# precedence.

# Default owners
* @mercadon

/job-descriptions/software-engineer.md @nicksnyder
/job-descriptions/software-engineer-backend.md @nicksnyder @tsenart
/job-descriptions/software-engineer-code-intelligence.md @nicksnyder @creachadair @efritz
/job-descriptions/software-engineer-frontend.md @nicksnyder @lguychard
/job-descriptions/software-engineer-distribution.md @nicksnyder @beyang
/job-descriptions/software-engineer-security.md @nicksnyder
/job-descriptions/software-engineer-template.md @nicksnyder
/job-descriptions/software-engineer-intern.md @nicksnyder

/job-descriptions/ux-designer.md @christinaforney
/job-descriptions/product-manager.md @christinaforney
