# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# https://help.github.com/articles/about-codeowners/
#
# Order is important; the last matching pattern takes the most
# precedence.

# Default owners
* @mercadon

/job-descriptions/software-engineer.md @nicksnyder @mercadon
/job-descriptions/software-engineer-manager.md @nicksnyder @mercadon
